<h1>ここはトップページだよ</h1>
<i class="bi bi-alarm"></i>
<i class="bi bi-book"></i>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
<%= link_to "ログアウト", "#", class: "btn btn-danger", method: :get %>
