/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }

    .carousel-item {
        height: 500px;
    }

    .navbar-brand {
        font-size: 40px;
    }

    .navbar-nav {
        padding-left: 10px;
    }

    .navbar {
        background-color: #D6A802;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white
    }

    .nav-link {
        font-size: 15px;
    }

    .inline {
        display: inline-block;
    }

    .form {
        margin: 0 auto;
        margin-top: 200px;
        width: 60%;
    }

    .alert {
        position: absolute;
        top: 86px;
        width: 100%;
        z-index: 10;
    }

    .pointer {
        cursor: pointer;
    }

    .display_none {
        display: none;
    }

    .number-field {
        width: 180px;
        display: inline-block;
    }

    .field_with_errors {
        display: inline;
    }
