<div class="row" style="margin: 0; height: 100%;">

    <div class="col-lg-3" style="padding: 0; background-color: #EEEEEE;">
        <nav class="navbar navbar-expand-lg navbar-light w-100" style="background-color: #EEEEEE;">
            <div class="container-fluid">
                <button class="navbar-toggler" style="margin: 0 0 0 auto;"type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span>絞り込み</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <%= form_with(local: true, url: proteins_search_path, method: :post) do |f| %>
                        <div class="navbar-nav" style="flex-direction: column;">
                            <div class="nav-link" href="#">
                                <p>◆味</p>
                                <ul style="list-style: none;">
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="ココア">
                                            <label class="pointer">ココア</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="チョコ">
                                            <label class="pointer">チョコ</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="抹茶">
                                            <label class="pointer">抹茶</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="ヨーグルト">
                                            <label class="pointer">ヨーグルト</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="バニラ">
                                            <label class="pointer">バニラ</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="ピーチ">
                                            <label class="pointer">ピーチ</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="カフェオレ">
                                            <label class="pointer">カフェオレ</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="checkbox pointer">
                                            <input name="taste[]" class="form-check-input pointer" type="radio" value="その他">
                                            <label class="pointer">その他</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-link" href="#">
                                <p>◆値段</p>
                                <label for="customRange1" class="form-label"><span id="output0">100</span>円以上</label>
                                <input name="price[]" type="range" min="100" max="29000" step="100" value="100" class="form-range" id="inputElem0">
                                <label for="customRange2" class="form-label"><span id="output1">30000</span>円以下</label>
                                <input name="price[]" type="range" min="200" max="30000" step="100" value="10000" class="form-range" id="inputElem1">
                            </div>
                            <div class="nav-link" href="#">
                                <p>◆内容量</p>
                                <label for="customRange3" class="form-label"><span id="output2">100</span>g以上</label>
                                <input name="large_weight"type="range" min="100" max="30000" step="100" value="2000" class="form-range" id="inputElem2">
                            </div>
                            <div class="nav-link" href="#">
                                <p>◆タンパク質含有率</p>
                                <label for="customRange4" class="form-label"><span id="output3">50</span>%以上</label>
                                <input name="protein_ratio[]" type="range" min="0" max="100" step="1" value="50" class="form-range" id="inputElem3">
                                <label for="customRange5" class="form-label"><span id="output4">100</span>%以下</label>
                                <input name="protein_ratio[]" type="range" min="0" max="100" step="1" value="100" class="form-range" id="inputElem4">
                            </div>
                            <div class="nav-link" href="#">
                                <%= f.submit "検索", class: "btn btn-success w-100" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </nav>
    </div>


    <div class="col-lg-9 pt-5 text-center">
        <div>
            <%= render "templetes/protein_index" %>
        </div>
    </div>

</div>

<%= javascript_pack_tag 'range_form.js', 'data-turbolinks-track': 'reload' %>




